{:paths ["server/src"
         "dev"
         "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ;; config
        com.taoensso/timbre {:mvn/version "5.1.2"}
        aero/aero {:mvn/version "1.1.6"}
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}
        ;; db
        org.postgresql/postgresql {:mvn/version "42.3.0"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}
        honeysql/honeysql {:mvn/version "1.0.461"}
        com.zaxxer/HikariCP {:mvn/version "5.0.0"}
        ;; router
        metosin/reitit {:mvn/version "0.5.15"}
        ;; http server
        http-kit/http-kit {:mvn/version "2.5.3"}}
 :aliases {:run-server {:main-opts ["-m" "dividends.core"]}
           :client {:extra-paths ["client/src"]
                    :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.879"}
                                 thheller/shadow-cljs {:mvn/version "2.15.12"}}}
           :dev {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0-SNAPSHOT"}
                              cider/cider-nrepl {:mvn/version "0.27.0-SNAPSHOT"}}
                 :exec-fn user/start-dev}}}
